<div xmlns:th="http://www.thymeleaf.org">

    <!-- Modal Area -->
    <div th:fragment="areaModal" class="modal fade" id="areaModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h1 class="modal-title fs-5">Área</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <label for="areaCode" class="col-sm-3 form-label">Código: </label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="areaCode" placeholder="Código">
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="areaName" class="col-sm-3 form-label">Área: </label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="areaName" placeholder="Área">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
